a:link { color: #FFFFFF; }
a:visited {color: #FFFFFF; }
html, body {
  background-color: #000000;
  height: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

button{
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #006dcc;
	border: 0;
	border-radius: 3px;
}

.content{
	margin-top: 15px;
	min-height: 500px;
}

.flex{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.remoteVideo > video{
	margin-right: 10px;
	width: 300px;
	height: 200px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 28px;
  background-color: #3F3F3F;
  color: #FFFFFF;
  font-size: 13px; font-weight: bold;
  line-height: 28px;
  text-align: center;
}
#container {
  background-color: #000000;
	height: 100%;
	width: 100%;
  margin: 0px auto;
  -webkit-perspective: 1000;
}
#card {
  -webkit-transition-duration: 2s;
  -webkit-transform-style: preserve-3d;
}
.sideBar {
	width: 20%;
	min-width: 300px;
	min-height: 400px;
	color: #fff;
	border-right: 1px solid #fff;
}

.main{
	width: 75%;
	color: #fff;
	margin-left: 10px;
}

#local {
  /*position: absolute;*/
  margin-top: 8px;
  width: 50%;
  /*transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -webkit-backface-visibility: hidden;*/
}
#remotes {
  /*right: 0;
  position: absolute;*/
  width: 100%;
  /*-webkit-transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;*/
}
#mini {
  position: absolute;
  height: 30%;
  width: 30%;
  bottom: 32px;
  right: 4px;
  opacity: 1.0;
  transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
}
#localVideo {
  width: 300px;
  height: 200px;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 2s;
}
.remoteVideo {
  width: 300px;
  height: 200px;
  margin-right: 15px;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 2s;
}

input, button{
height: 40px;
font-size: 14px;
}

#remoteVideo {
  width: 100%;
  height: 100%;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 2s;
}
#miniVideo {
  width: 100%;
  height: 100%;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 2s;
}

#hangup {
 font-size: 13px; font-weight: bold;
 color: #FFFFFF;
 width: 128px;
 height: 24px;
 background-color: #808080;
 border-style: solid;
 border-color: #FFFFFF;
 margin: 2px;
}

#infoDiv {
	color: #fff;
	padding: 5px;
}

.border{
	border: 1px solid #ff0;
}

#confView, #hangUpBtn,#mainPanel{
	display:none;
}

#initView{
	position: absolute;
	top: 15%;
	left: 45%;
}