<!DOCTYPE html>
<html>
<head>
<title>WebRTC Reference App</title>

<meta http-equiv="X-UA-Compatible" content="chrome=1"/>

<link rel="canonical" href="{{ room_link }}"/>
<link rel="stylesheet" href="css/main.css" />

<script src="/js/adapter.js"></script>
<script src="/js/myRtc.js"></script>
<script src="/js/chatRoomClient.js"></script>
<script src="/js/mediaHelper.js"></script>
<script src="/js/SdpHelper.js"></script>
<script src="/socket.io/socket.io.js"></script>
</head>
<body>
<script type="text/javascript">

var localVideo, remoteVideo, app, myRtc, hangUpBtn, infoDiv, startMediaBtn, joinConfBtn, initView, mainPanel;
document.addEventListener('DOMContentLoaded', function() {
	localVideo  = document.querySelector('#localVideo');
	remoteVideo = document.querySelector('#remoteVideo');
	remotes = document.querySelector('#remotes');
	hangUpBtn = document.querySelector('#hangUpBtn');
	infoDiv = document.querySelector('#infoDiv');
	startMediaBtn = document.querySelector('#startMediaBtn');
	joinConfBtn = document.querySelector('#joinConfBtn');
	initView = document.querySelector('#initView');
	mainPanel = document.querySelector('#mainPanel');
}, false);

function joinRoom(){
	app.signalClient.joinRoom({
		peerId: app.myId,
		roomName: (document.querySelector('#roomName')).value}
	);
}

function createRoom(){
	app.signalClient.createRoom(document.querySelector('#roomName').value);
}

function setName(){
	var name = document.querySelector('#myId').value;
	if(name.trim()!=''){
		initView.style.display = 'none';
		mainPanel.style.display = 'flex';
		app = new MyRtc();
		app.signalClient.peerName = name;
	}
}

function joinConference(){
	app.signalClient.joinConference({peerId: app.myId, roomName: (document.querySelector('#roomName')).value});
	joinConfBtn.style.display = 'none';
}

function hangUp(){
	app.hangUp();
	//TODO add leave room button
	app.signalClient.leaveRoom();
	remotes.innerHTML='';
	hideView('confView');
	showView('optionView');
	
	startMediaBtn.style.display = 'block';
	hangUpBtn.style.display = 'none';
	joinConfBtn.style.display = 'block';
}

function enteredRoom(msg){
	showInfo(msg);
	hideView('optionView');
	showView('confView');
}

function showInfo(msg){
	infoDiv.innerHTML=msg;
}

function showView(viewId){
	document.querySelector('#'+viewId).style.display = 'block';
}

function hideView(viewId){
	document.querySelector('#'+viewId).style.display = 'none';
}

function startMedia() {
	app.mediaHelper.doGetUserMedia();
}

</script>
<div id="container" ondblclick="enterFullScreen()">
	<div id="initView">
		<input type="text" class="small" id="myId" placeholder="Your name">
		<button class="small" onclick="setName()">Go</button>
	</div>
	<div class="flex content" id="mainPanel">
		<div class="sideBar">
			<h2>My info: </h2>
			<div id="local">
			  <video id="localVideo" autoplay muted/>
			</div>
			<button id="hangUpBtn" onclick="hangUp()">hang Up</button>
			<button id="startMediaBtn" onclick="startMedia()">Start Cam/Mic</button>
		</div>
		
		<div class="main">
			<div class="border"><span>INFO</span><div id="infoDiv"></div></div>
			<div id="optionView">
				<input type="text" class="small" id="roomName" placeholder="Room name">
				<button class="small" onclick="createRoom();">Create room</button>
				OR
				<button class="small" onclick="joinRoom()">Join room</button>
			</div>
			<div id="confView">
				<p><button class="small" id="joinConfBtn" onclick="joinConference()">Start chatting</button></p>
				<h2>Peers</h2>
				<div id="remotes"></div>
			</div>
		</div>
  </div>
</div>
</body>
</html>
